/* App Page Styling */

#myCarousel{

    width:800px;
    height:500px;
    margin-left:calc(50% - 400px)
}

.carousel-inner > .item.phoneapp > a > img , .carousel-inner > .item.phoneapp > img {
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width:300px;
    height: 476px;

}
.carousel-inner > .item.webapp > a > img , .carousel-inner > .item.webapp > img {
    text-align: center;
    vertical-align: center;
    margin: auto;
    margin-top: 3%;
    width:750px;
    height: 450px;

}

/*App views page styling*/

.app.box{
    padding: 15px 10px 10px 10px;
    position: relative;
    border: 1px solid #BBB;
    background: #eee;
    float: left;
}
.app.box > div {
    margin: 15px; }

.ribbon {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right; }
.ribbon span {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px black;
    position: absolute;
    top: 19px;
    right: -21px; }
.ribbon span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808; }
.ribbon span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #8F0808;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808; }

.public span {
    background: linear-gradient(#9BC90D 0%, #79A70A 100%); }
.public span::before {
    border-left-color: #79A70A;
    border-top-color: #79A70A; }
.public span::after {
    border-right-color: #79A70A;
    border-top-color: #79A70A; }

.code span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%); }
.code span::before {
    border-left-color: #1e5799;
    border-top-color: #1e5799; }
.code span::after {
    border-right-color: #1e5799;
    border-top-color: #1e5799; }