/* comments */
.indented {
  border-left: 5px solid #eaebed;
  padding-left: 1.5em; }

.ajax-comments-form-reply {
  margin-top: 30px; }

.js-comment {
  margin-top: 30px;
  margin-bottom: 30px; }

.js-comment:first-of-type {
  margin-top: 20px; }

/* Form styles */
.form-required:after {
  content: "(required)";
  display: inline;
  color: #e00;
  vertical-align: baseline;
  margin-left: 4px;
  background-image: none;
}
.form-required:lang(fr):after {
  content: "(requis)";
}
.form-required:before {
  color: #e00;
  content: "* ";
}
.form-item {
  margin-top: 30px;
}
.form-inline .form-item {
  margin-top: 0;
}
.form-item h4.label {
  border: none;
  padding: 0;
  display: inline-block;
  text-align: left;
  color: #000;
  font-size: 100%;
}

.views-exposed-form > .form-inline > .form-type-textfield > .form-text {
  max-width: 200px !important;
}

.form-inline .select-wrapper {
  max-width: 150px;
}

/* webform */
.webform-submission-form {
  margin-top: 10px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
}

.webform-progress-tracker.progress-tracker {
  margin-bottom: 50px !important;
}

.form-item .panel-title {
 font-size: 16px;
 font-weight: 700;
}

.form-item .panel-body {
  font-size: 14px;
}

.webform-submission-user-contributed-content-form, .webform-submission-suggest-a-dataset-form, .webform-submission-user-stories-form{
  background: none;
  border: none;
}

.help-block{
  font-size: 14px;
}

.progress-marker{
  z-index: unset;
}
/* voting */
div.svg div.rateit-range {
  background: url(../images/rating/mapleleaf-normal.svg);
}

div.svg div.rateit-hover {
  background: url(../images/rating/mapleleaf-hover.svg);
}

div.svg div.rateit-selected {
  background: url(../images/rating/mapleleaf-selected.svg);
}

div.svg div.rateit-preset {
  background: url(../images/rating/mapleleaf-preset.svg);
}

.vote-thumbs-up-down {
  padding: 0px !important;
  background: transparent !important;
  color: #26374a !important;
  border: none !important;
  font-size: 25px !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", "Glyphicons Halflings", sans-serif !important;
}

.webform-submission-vote-up-down-add-form, .webform-submission-vote-up-down-external-add-form {
  padding: 5px 0 0 0 !important;
  display: inline-block !important;
}

.webform-submission-app-vote-form{
  background-color: #fff;
  margin: 0;
  border: 0;
  padding: 0;
}

/* browsing by subject */
ul.subjects {
  margin:0 0 50px 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
ul.subjects li {
  margin:0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  display: inline-block;
}
ul.subjects li a:hover, ul.subjects li a:hover span {
  text-decoration: none!important;
}
ul.subjects li a {
  display: inline-block;
  margin: 0 16px 20px 16px;
  outline: 0;
  height: 80px;
  width: 80px;
  text-align: center;
  clear: both;
  padding-top: 16px;
  font-size: 40px;
  color: #284162;
}
ul.subjects li a:hover {
  color: #8792A4;
}
ul.subjects li a:hover, ul.subjects li a:hover span {
  text-decoration: none!important;
}
ul.subjects li a span {
  display: block;
  width: 90px;
  font-size: 15px;
}

/* icons */
.icon {
  font-size: inherit;
  min-height: 0px;
  min-width: 0px; }

.btn .icon {
  padding-left: 0px;
  min-height: 0px;
}

/* striped view */
.views-striped {
  border-bottom: 1px solid rgb(204,204,204);
  padding: 10px 0;
}

.views-striped:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.views-striped:last-child {
  border-bottom: none;
}

/* pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button.previous::before, .pager > li:first-child [rel="prev"]::before, .pagination > li:first-child [rel="prev"]::before, [dir="rtl"] .dataTables_wrapper .dataTables_paginate .paginate_button.next::before, [dir="rtl"] .pager [rel="next"]::before, [dir="rtl"] .pagination [rel="next"]::before {
  content: "\e079" !important;
  margin: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next::after, .pager > li:last-child [rel="next"]::after, .pagination > li:last-child [rel="next"]::after, [dir="rtl"] .dataTables_wrapper .dataTables_paginate .paginate_button.previous::after, [dir="rtl"] .pager [rel="prev"]::after, [dir="rtl"] .pagination [rel="prev"]::after {
  content: "\e080" !important;
  margin: 0 !important;
}

.pager li > a {
  padding: 0 10px !important;
}

/* layout builder */

#drupal-off-canvas select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#drupal-off-canvas *, #drupal-off-canvas *:not(div) {
  word-spacing: normal;
  background: inherit;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", "Glyphicons Halflings", sans-serif;
}

#drupal-off-canvas ul li, #drupal-off-canvas ol li {
  padding: 0;
  border-bottom: none
}

/* highlighting using mark */
mark {
  background-color: yellow !important;
}

/* is-active navigation */
#wb-sec .is-active {
  background-color: #243850 !important;
  color: #fff !important;
}

/* btn-success */
.btn-success a {
  color: #fff !important;
  text-decoration: none !important;
}

/* content type app classes */

/* App Page Styling */
#myCarousel{
  padding-top: 3em;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

/* facets */
ul.js-facets-checkbox-links {
  margin-left: -1.1em;
  margin-right: -1.1em;
}

ul.js-facets-checkbox-links .facet-item label {
  display: inline;
}

.facet-item.list-group-item {
  border-bottom: 0 !important;
  border-top: 1px solid #ccc !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: unset !important;
  padding-top: 0;
  padding-bottom: 0;
}

.facet-item.list-group-item:first-child {
  border-top: 0 !important;
}

.facet-item__value {
  display: inline;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 5px;
}

.facet-item__count {
  display: inline;
  font-size: 14px;
  font-weight: 400 !important;
}

.panel-primary > .panel-heading {
  background-color: #335075 !important;
}

.panel-title {
  padding: 0 15px;
}

.facets-soft-limit-link {
  font-size: 14px;
}

.facet-summary-item--clear {
  background-color: #eaebed !important;
}

.facet-summary-item--clear a {
  font-size: 16px !important;
}

.glyphicon-remove.facet-item__status {
  color: red !important;
  font-size: 14px !important;
  margin-right: 5px;
}

.comment-add {
  display: none !important;
}

/* Map gallery */
.map-gallery {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  background: #eee;
  margin: 0 !important;
}

.map-gallery a{
  text-decoration: none;
  padding: 5px;
}

/* Apps gallery */
.box {
  position: relative;
  border: 1px solid #BBB;
  background: #eee;
  float: left;
  padding: 15px;
  transition: box-shadow .3s;
}
.box:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right; }
.ribbon span {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 19px;
  right: -21px; }
.ribbon span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808; }
.ribbon span::after {
  content: '';
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #8F0808;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808; }

.public span {
  background: linear-gradient(#9BC90D 0%, #79A70A 100%); }
.public span::before {
  border-left-color: #79A70A;
  border-top-color: #79A70A; }
.public span::after {
  border-right-color: #79A70A;
  border-top-color: #79A70A; }

.code span {
  background: linear-gradient(#2989d8 0%, #1e5799 100%); }
.code span::before {
  border-left-color: #1e5799;
  border-top-color: #1e5799; }
.code span::after {
  border-right-color: #1e5799;
  border-top-color: #1e5799; }

.device-format{
  display: inline-block;
}
.device-format-icon {
  display: inline-block;
  font-size: larger;
}
.device-format-icon-fa-globe {
  color: cadetblue;
}
.device-format-icon-fa-app-store {
  color: dodgerblue;
}
.device-format-icon-fa-android {
  color: yellowgreen;
}
.device-format-icon-fa-blackberry {
  color: black;
}

/* blog */
.blog-striped {
  border: 1px solid #BBB;
  padding: 15px;
  transition: box-shadow .3s;
}

.blog-striped:nth-of-type(odd) {
  background: #eee;
}
.blog-striped:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

[class*=colcount-]>li {
  margin-left: 0 !important;
}

/* navigation */
#wb-bc ol {
  margin-top: 15px;
  padding-left: 0px !important;
  padding-right: 0px !improtant;
}

.provisional.most-requested-bullets li {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 0;
}
.provisional.followus-vertical, .provisional.followus {
    background-color: transparent;
}
.provisional.followus-vertical {
    line-height: 0em;
}
.provisional.followus {
    padding: 0;
}
.provisional.followus h2, .provisional.followus ul {
    margin-left: 0;
}
.provisional.followus h2 {
    display: block;
}
.provisional.followus h2 {
    font-size: 1.1em;
    margin-top: 10px;
}
.provisional.followus-vertical ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    padding-inline-start: 1em;
    font-size: 16px;
    margin-block-end: 0em;
}
.provisional.followus h2, .provisional.followus ul {
    margin-left: 0;
}
.provisional.followus .facebook {
    background: url(https://design.canada.ca/images/social-media/facebook.png) 0 0 / cover no-repeat;
}
.provisional.followus .twitter {
    background: url(https://design.canada.ca/images/social-media/twitter.png) 0 0 / cover no-repeat;
}
.provisional.followus .facebook, .provisional.followus .twitter, .provisional.followus .youtube, .provisional.followus .instagram, .provisional.followus .linkedin {
    display: block;
    height: 38px;
    width: 38px;
}
.provisional.followus-vertical ul li {
    margin-bottom: 15px;
}
.provisional.followus-vertical li {
    display: block;
    background-position: left;
}
.provisional.followus ul li a {
    border: none;
}

.provisional.followus-vertical ul li a {
    border: none;
    padding: 0px 5px;
}
.provisional.followus-vertical a {
    text-decoration: none;
}
.provisional .social-lnk {
    position: relative;
    bottom: -18px;
    left: 45px;
}
.provisional.from {
    font-size: 17px;
    margin-top: 7px;
}
.provisional.contributors {
    font-size: 16px;
    font-weight: 600;
}
.provisional.contributors ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: -50px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.provisional.contributors li {
    display: inline-block;
    margin-right: .7em;
}
.container.gc-srvinfo {
    padding-left: 0;
    padding-right: 0;
}
/* guide */
h1 span.stacked {
    display: flex;
    flex-direction: column-reverse;
    margin-left: -9999px;
}
h1 span.stacked span:nth-child(1) {
    margin-top: -1.1em;
    margin-left: 9999px;
}
h1 span.stacked span:nth-child(2) {
    margin-left: 9999px;
    font-size: 26px;
    color: #555;
    font-weight: 500;
    margin-bottom: .17em;
}
.topic-doormat{
    border: 1px solid #e3e3e3;
    border-left: 4px solid #26374a;
    border-radius: 6px;
    background-color: #fff;
    margin: 15px;
    padding: 0 15px 15px 15px;
}
.topic-doormat:hover{
    box-shadow: 1px 4px 4px gray;
}
.guide figure img {
    border: 1px #ddd solid !important;
}