{#
/**
 * @file
 * Default theme implementation for a feed icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 *
 * @ingroup themeable
 */
#}
<div class="mrgn-tp-lg">
  <a href="{{ url }}"{{ attributes.addClass('btn', 'btn-default', 'feed-icon') }}>
    <i class="fas fa-rss"></i> {{ 'Subscribe to @title'|t({'@title': title}) }}
  </a>
</div>
